/* Para navegadores que admiten scrollbar-color */
/* Puedes agregar el sufijo '-webkit-' para Safari */
::-webkit-scrollbar {
  
}

/* Para navegadores que no admiten scrollbar-color */
/* Esto afectará a los navegadores que no soporten la propiedad */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

